* {
    margin: 0;
    padding: 0;
  }
  /* body{
    background-image: url(img/background_contact.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:top;
    background-size:cover;
    width: 100%;
    height:40em;
  } */
  nav {
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  nav img {
    width: 150px;
  }
  .nav-links {
    flex: 1;
    text-align: right;
  }
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
    position: relative;
  }
  .nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
  }
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 5px;
    background: var(--main-bg-color2);
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after {
    width: 100%;
  }
  nav .fa {
    display: none;
  }
  @media (max-width: 700px) {
    .nav-links ul li {
      display: block;
      
    }
    .nav-links {
      position: absolute;
      background: var(--main-bg-color1);
      height: 70vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
    nav .fa{
      display: block;
      color: white;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
    .nav-links ul {
      padding: 10px;
    }
    .nav-links ul li a {
      font-size: 12px;
    }
}












body{
    background-color: black;
    color: white;
}


.content {
    /*background-color: rgb(185, 209, 201);*/
    display: flex;
    margin-top: 6%;
    padding: 4%;
    background-color: rgb(49, 42, 41);
    
  }
  /* .footer {
    height: 50px;
    background-color:var(--main-bg-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center ;
  }
  .nav-left {
    display: flex;
    font-size: 30px;
  
  }
  .nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 80px;
    font-size: 22px;
  }
  .nav-left ul li {
    list-style: none;
    margin: 0 15px;
    font-family: var(--font2);
    
  
  }
  .nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
  
  }
  
  .nav-left ul li a {
    text-decoration: none;
    color: black;
    
  }
  .nav-left span{
    font-size: 35px ;
    padding-top: 10 px;
  } */
  .content-left {
    font-family: var(--font1);
    /* display: flex; */
    display: block;
    width: 55%;
    margin: auto;
  }
  
  .content-right{
    
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: block;
    width: 25%;
    padding-right: 9%;
    padding-top: 3%;
  }
  .content-right img {
    height:240px ;
    border: 2px solid black;
    border-radius: 200px;
    
  } 
  .home-articles{
    padding-top: 12px;
    
  }
  .home-article{
  
   display: flex;
   margin: 25px;
   border: 1px solid black;
   background-color:  rgb(49, 42, 41);
  }
  .home-article img{
    width:240px;
  }
  .home-article-content{
    align-self: center;
    padding: 45px;
  }
  @media screen and (max-width:650px)and (min-width:350px){

    .content-right img {
        height:190px ;
    }
    .content-right{
        display: block;
        width:20%;
        padding-right:19%;
        padding-top:19%;
      }
      .content-left {
        font-family: var(--font1);
        /* display: flex; */
        display: block;
        width: 35%;
        margin:1%;
      }
      .home-article{
  
        display: flex;
        margin: 10px;
        border: 1px solid black;
       
       }
       .home-article img{
        width:160px;
      }
      .home-article-content{
        align-self: center;
        padding: 15 px;
      }
  }

  @media screen and (max-width:349px){

    .content-right img {
        height:100px ;
    }
    .content-right{
        display: block;
        width:13%;
        padding-right:22%;
        padding-top:25%;
      }
      .content-left {
        font-family: var(--font1);
        /* display: flex; */
        display: block;
        width:25%;
       margin: 20%;
      }
      .home-article{
  
        display: flex;
        margin: 7px;
        border: 1px solid black;
       
       }
       .home-article img{
        width:80px;
      }
      .home-article-content{
        align-self: center;
        padding: 10 px;
      }
  }


  /* 
footer style */

.footer {
    background-color: gray;
    box-sizing: border-box;
    width: 100%;
     margin: auto; 
    text-align: center;
    padding: 0px 0 20px 0;
  }
  .container{
      margin: auto;
  }
  .foot-row{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .foot-col ul{
      list-style: none;
  } 
  .foot-col{
      width: 25%;
      padding: 0 10px 0 10px;
  }
  .foot-col h4{
      font-size: 20px;
      margin-bottom: 20px;
  }
  .foot-col ul li a{
      text-decoration: none;
      color: black;
      font-weight: 500;
      display: block;
      transition: all 0.3s ease;
  }
  .foot-col ul li a:hover{
      color: var(--main-bg-color1);
      font-weight: bolder;
      font-size: 17px ;
      padding-left: 10px;
  }
  .foot-col .social-links a{
      color: black;
      display: inline-block;
      margin: 0 10px 10px 0;
      height: 40px;
      width: 40px;
      background-color: var(--main-bg-color1);
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      transition: all 0.5s ease;
  }
  .foot-col .social-links a:hover{
      background-color: var(--main-bg-color2);
  }
  .copyright{
      text-align: center;
  }
  @media(max-width:700px){
      .foot-col{
          width: 50%;
          margin-bottom: 30px;
          font-size: 12px;
      }
      .copyright{
          font-size: 12px;
      }
  }
  
  @media(max-width:500px){
      .foot-col{
          width: 100%;
          margin-bottom: 30px;
          font-size: 10px;
      }
      .copyright{
          font-size: 10px;
      }
  }   


